.board-space:hover {
  box-shadow:  1px 1px 2px 2px aquamarine, -1px -1px 2px 2px aquamarine;
}

.piece {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate3d(-50%, -50%, 0);
}

.board-row {
  height: 100px;
  margin-top: 0;
  padding: 0;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.board-space {
  border:2px black solid;
  background-color: #41c9d3;
  border-radius: 50px;
  margin-top: 0;
  padding: 0;
  height: 95px;
}

.turn-display {
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}

body {
  
  background: linear-gradient(25deg, rgb(83, 198, 108) 31%, rgb(189, 145, 231)90%); 
  background-attachment: fixed;
}

.moving-piece {
  position: relative;
  z-index: 9999;
}